/*index部分*/
div[class="container"] > a, div[class="container"] > p {
  display: block;
  margin-top: 15px;
}

div[class="container"] > a:link, div[class="container"] > a:visited {
  color: #000000;
}

div[class="container"] > a:hover {
  text-decoration: none;
  color: #424242;
}