block baselink
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="css/bookstore.css")
block mylink
block basescript
  script(src="js/jquery-3.2.1.min.js")
block myscript